<div class="card">
  <div class="card-body">
    <h3>Problem with signup:</h3>
    <p>Name may already be taken or no password entered. Please sign up again</p>

    <%#= render "form", user: @user %>
  </div>
</div>