<div class="card">
	<div class="card-body">
		<!-- <div class="row"> -->
			<!-- <div class="col-4"> -->
				<% if current_user.present? %>
					<div class=""><%= link_to 'View Groups', groups_path, class: 'btn btn-outline-primary form-control' %></div>
				<% else %>
					<a href="#" class="btn btn-outline-primary form-control disabled" role="button" aria-disabled="true">Signup/Login to View Groups</a>
				<% end %>
				<p class="fw-bold pt-3">My Groups </p>
				<% if current_user.present? %>
				<table>
					</thead>
					<tbody>
						<% my_groups = GroupMember.where(user_id: current_user.id).pluck(:group_id) %>
						<% Group.where(id: my_groups).each do |i| %>
							<tr>
								<% if i.live_draft_start? && i.live_draft_complete? == false %>
									<td class="text-primary"><%= link_to "#{i.name} - Enter Draft", pages_live_draft_path(group_id: i.id) %></td>
								<% else %>
									<td class="text-primary"><%= link_to i.name, group_path(id: i.id) %></td>
								<% end %> 
							</tr>
						<% end %>
					</tbody>
				</table>
				<% end %>
			<!-- </div> -->
<!-- 			<div class="col-8">
				<div class="border p-3">
				<%#= image_tag("cbs-sports-2023-bracket_1.jpg", class: "img-fluid img-fluid" ) %>
				</div>
			</div> -->
		<!-- </div> -->
	</div>
</div>

